
body{
    font-family: Ubuntu , sans-serif;
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none; 
     color: rgb(0, 0, 0);
}

a:hover{
    color: green;
}
.description{
    background-color: #b3a5a5;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 80px 130px;
    border: 2px solid #02296A;
    border-radius: 2%;
}

.button{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid orange;
    padding: 20px;
   
    width: fit-content;
}



.button:hover{
    background-color: rgb(255, 255, 255)  ;
    color: green;
}