<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='static/style.css'>
        <title>State Farm</title>
    </head>
    <header>
        <table>
            <tr>
                <td>
                    <a href="/">
                        <img src="https://chambermaster.blob.core.windows.net/images/customers/242/members/6903/logos/MEMBER_PAGE_HEADER/logo.png">
                    </a>
                </td>
                <td>
                    <h1>Centennial Community Connector</h1>
                </td>
            </tr>
        </table>
    </header>


    <title>Request An Event</title>
    <body>
        <h2>
            Request an event
        </h2>
        <div>
            <div class="fillout">
                <form method="POST">
                    <table>
                        <tr>
                            <td>
                                <label for="fname">First name:</label>
                                <input type="text" id="fname" name="fname">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="lname">Last name:</label>
                                <input type="text" id="lname" name="lname">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="pnumber">Phone Number:</label>
                                <input type="text" id="pnumber" name="pnumber">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="zip_code">Zip Code:</label>
                                <input type="text" id="zip" name="zip">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="date">Date:</label>
                                <input type="date" id="date" name="date">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="time">Time:</label>
                                <input type="time" id="time" name="time">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="members">Members:</label>
                                <input type="text" id="members" name="members">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="description">Description:</label>
                                <input type="text" id="description" name="description">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="anotes">Additional Notes:</label>
                                <input type="text" id="anotes" name="anotes">
                            </td>                  
                        </tr>
                        <tr>
                            <td>
                                <label for="event_type">Event Type:</label>
                                <select name="event_type">
                                    {% for event_type in event_types %}
                                        <option value="{{ event_type["id"] }}">
                                            {{ event_type["label"] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>                 
                        </tr>
                        <tr>
                            <td>
                                <label for="anotes">Virtual Event:</label>
                                <select name="is_virtual">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </td>                  
                        </tr>
                    </table>
                    <a href="/"><button type="button">Cancel</button></a>
                    <button type="Submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>