<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='static/style.css'>
        <title>New Support Group</title>
    </head>
    <header>
        <table>
            <tr>
                <td>
                    <a href="/">
                        <img src="https://chambermaster.blob.core.windows.net/images/customers/242/members/6903/logos/MEMBER_PAGE_HEADER/logo.png">
                    </a>
                </td>
                <td>
                    <h1>Centennial Community Connector</h1>
                </td>
            </tr>
        </table>
    </header>



    <body>
        <div id="start_support_group">
        <h3>
            Start a Support Group Online Now!
        </h3>
            <table>
                <tr>
                    <td>
                        <label for="fname">First name:</label>
                        <input type="text" id="fname" name="fname">    
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label for="lname">Last name:</label>
                        <input type="text" id="lname" name="lname">
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email">
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label for="pnumber">Phone Number:</label>
                        <input type="text" id="pnumber" name="pnumber">
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label for="link">Link:</label>
                        <input type="text" id="link" name="link">
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label for="start">Start date:</label>
                        <input type="date" id="start" name="trip-start"       value="2018-07-22"       min="2021-01-01" max="2024-12-31">
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label for="appt">Choose a time for your meeting:</label>
                        <input type="time" id="appt" name="appt"       min="09:00" max="18:00" required>
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label for="members">Members:</label>
                        <input type="text" id="members" name="members">
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label for="anotes">Additional Notes:</label>
                        <input type="text" id="anotes" name="anotes">
                    </td>                  
                </tr>
            </table>
            <a href="/"><button type="button">Cancel</button></a>
            <button onclick="fake_create()">Create</button>
        </div>

        <div id="success_div" hidden="true">
            <h3>
                Thank you for your contribution to the community!
            </h3>
        </div>
    </body>
</html>


<script>
    
    function fake_create()
    {
        document.getElementById("start_support_group").hidden = true;
        document.getElementById("success_div").hidden = false;
    }


</script>