<html>
	<body>
		<h1>
			{% if(zip_code != "") %}
				Events for {{ zip_code }}
			{% else %}
				Please enter you Zip Code Below
			{% endif %}					
		</h1>

		{% if(zip_code == "") %}
			<form method="GET">
				<label>
					Zip Code
				</label>
				<input name="zip_code" type="number"/>
			</form>
		{% else %}
			{% for event in events %}
				<table>
					<tr>
						<td>Location</td>
						<td> {{ event["zip"] }} </td>
					</tr>
					<tr>
						<td>Date</td>
						<td> {{ event["time"] }} </td>
					</tr>
					<tr>
						<td>Description</td>
						<td> {{ event["description"] }} </td>
					</tr>
				</table>
			{% endfor %}
		{% endif %}
	</body>
</html>