<html>

	<head>
		<link rel='stylesheet' href='static/style.css'>
		<title>State Farm</title>
	</head>
    <header>
        <a href="/"><img src="https://chambermaster.blob.core.windows.net/images/customers/242/members/6903/logos/MEMBER_PAGE_HEADER/logo.png"></a>
    </header>


	<body>
		<h1>
			{% if(zip_code != "") %}
				Events for {{ zip_code }}
			{% else %}
				Please enter you Zip Code Below
			{% endif %}					
		</h1>

		{% if(zip_code == "") %}
			<form method="GET">
				<label>
					Zip Code
				</label>
				<input id="zip_code" name="zip_code" list="zip_codes" autocomplete="off">
				<datalist id="zip_codes" autocomplete="off">
					{% for zip_code in zip_codes %}
						<option value="{{ zip_code }}">
					{% endfor %}
				</datalist>
			</form>
		{% else %}
			{% for event in events %}
				<table>
					<tr>
						<td>Date</td>
						<td> {{ event["time"] }} </td>
					</tr>
					<tr>
						<td>Description</td>
						<td> {{ event["description"] }} </td>
					</tr>
					<tr>
						<td>Counselors</td>
						<td> 
							<table>
								{% for counselor in event["counselors"] %}
									<tr>
										<table>
											<tr>
												<td colspan='2'> {{ counselor["name"] }}, {{ counselor["title"] }} </td>
											</tr>
											<tr>
												<td> Practice </td>
												<td> {{ counselor["practice"] }} </td>
											</tr>
											<tr>
												<td> Education </td>
												<td> {{ counselor["education"] }} </td>
											</tr>
											<tr>
												<td> Description </td>
												<td> {{ counselor["description"] }} </td>
											</tr>
											<tr>
												<td> Specialties </td>
												<td> {{ counselor["specialties"] }} </td>
											</tr>
										</table>
									</tr>
								{% endfor %}
							</table>
						</td>
					</tr>
				</table>
			{% endfor %}
		{% endif %}
	</body>
</html>
